<%= flash[:alert] %>
<%= flash[:notice] %>

<div class="mdc-card app-card">
  <div class="mdc-card__primary-action mdc-ripple-upgraded mdc-ripple-upgraded--foreground-activation" tabindex="0">
    <div class="app-card__primary"><h2 class="app-card__title mdc-typography--headline6">Sign in with Password</h2>
      <div class="app-card__secondary mdc-typography--body2">

        <%= form_for(resource, as: resource_name, url: user_session_path) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="form-field">
                <div class="mdc-text-field mdc-text-field--fullwidth" data-controller="textfield" data-target="new-registration.usernameField">
                    <%= f.email_field :email, class: "mdc-text-field__input", placeholder: "Email", required: true, autocapitalize: "none", "aria-controls" => "username-helper-text", autofocus: true, autocomplete: "email" %>
                </div>
            </div>

            <div class="form-field">
                <div class="mdc-text-field mdc-text-field--fullwidth" data-controller="textfield" data-target="new-registration.passwordField">
                    <%= f.password_field :password, class: "mdc-text-field__input", placeholder: "Password", required: true, autocapitalize: "none", "aria-controls" => "password-helper-text", autocomplete: "current-password" %>
                </div>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>

            <div class="actions">
                <%= f.submit "Sign in", class: "mdc-button mdc-button--raised" %>
            </div>
        <% end %>
    </div>
    </div>
    <div class="mdc-card__actions">
      <div class="mdc-card__action-buttons">
        <div class="mdc-card__actions">
          <%= link_to 'Sign up with password', new_user_registration_path, class: "mdc-button mdc-card__action mdc-card__action--button mdc-ripple-upgraded" %>
        </div>
      </div>
    </div>
    </div>
</div>
